﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using Types;
@using MapController;

<header>
    <h2>Park Map</h2>
</header>

<div class="map-container" id="page-map" style="position: fixed; top: 61px; bottom: 70px; width: 100%;">

</div>

<script src="~/Assets/scripts/application.js"></script>
<script type="text/javascript">
    var MapConfig = {
        Map: "/Assets/images/GivskudZoo_Map_JpegExport.jpg",
        UsesRealWorld: true,
        Longitude: {
            Start: 9.34326,
            End: 9.35944
        },
        Latitude: {
            Start: 55.81296,
            End: 55.80235
        }
    }
    var Config = {
        Position: {
            x: null,
            y: null
        },
        Zoom: 1
    }

    var MapObject = new InteractiveMap(document.getElementById('page-map'), MapConfig, Config);

    @{
        MapController Controller = new MapController();
        Controller.Fetch();

        HtmlString JsonData = new HtmlString(Controller.RenderMarkersAsJson());
    }

    var MapMarkers = @(string.IsNullOrEmpty(JsonData.ToString()) ? new HtmlString("null") : JsonData);

    if (MapMarkers) {
        MapObject.AddMarkers(MapMarkers);
    }

    $(document).ready(function () {
        Configuration.Page = "ParkMap";
    });

</script>